@charset "UTF-8";

/* -------- 0. Imports -------- */
@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap";
@import "https://fastly.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css";

/* -------- 1. Root -------- */
:root {
  --body-font: Inter, "Noto Sans SC", "Noto Sans TC", "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
  --header-font: var(--body-font);
  --title-font: var(--body-font);
  --ui-font: var(--body-font);
  --mono-font: "JetBrains Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Noto Sans SC", "Noto Sans TC", monospace;

  --body-font-size: clamp(0.8rem, calc(0.75rem + 0.2vw), 1rem);
  --body-line-height: 1.5;

  --header-height: 7rem;
  --header-height-on-mobile: 7rem;
  --topbar-height: 2rem;
  --topbar-height-on-mobile: 2.75rem;
  --header-width: 61.25rem;
  --header-width-on-mobile: 100%;
  --sidebar-width: 16.875rem;
  --sidebar-width-on-mobile: 15rem;
  --content-width: 44.25rem;
  --topbar-drop-height: var(--topbar-height);
  --header-margin: max(calc((100% - var(--header-width)) / 2), 0.5rem);
  --topbar-margin: max(calc((100% - var(--header-width)) / 2), 0rem);

  --header-title: "The Backrooms";
  --header-subtitle: "你曾经来过这里";
  --header-title-font-size: min(calc(1.7rem + 1.6vw), 2.9rem);
  --header-subtitle-font-size: min(calc(0.65rem + 0.6vw), 1.05rem);

  --global-border-width: 0.0625rem;

  --rate-height: 1.5em;
  --popup-title-height: 3rem;

  --global-function: cubic-bezier(0.4, 0, 0.2, 1);
  --global-duration: 0.2s;
  --ui-duration: 0.3s;

  --base-white: 252, 252, 252;
  --base-light: 244, 244, 244;
  --base-medium: 215, 215, 215;
  --base-dark: 66, 66, 66;
  --base-black: 12, 12, 12;

  --base-accent-light: 68, 123, 230;
  --base-accent-medium: 24, 80, 187;
  --base-accent-dark: 23, 24, 120;
  --base-accent-alt: 253, 126, 20;

  --warning-color: 220, 53, 69;
  --accept-color: 140, 164, 46;
  --warning-text-color: var(--base-white);
  --accept-text-color: var(--base-white);

  --global-bg-color: var(--base-white);
  --global-text-color: var(--base-black);
  --light-bg-color: var(--base-light);
  --light-text-color: var(--base-black);
  --medium-bg-color: var(--base-medium);
  --medium-text-color: var(--base-black);
  --dark-bg-color: var(--base-dark);
  --dark-text-color: var(--base-white);
  --focus-bg-color: var(--base-accent-light);
  --focus-text-color: var(--base-white);

  --global-border-color: var(--base-black), 0.25;
  --global-fader-color: var(--base-black), 0.125;
  --global-shadow-color: var(--base-black);

  --link-color: var(--base-accent-medium);
  --link-hover-color: var(--base-accent-light);
  --link-visited-color: var(--base-accent-dark);
  --link-newpage-color: var(--base-accent-alt);

  --body-bg-color: var(--global-bg-color);
  --body-text-color: var(--global-text-color);

  --selection-bg-color: var(--focus-bg-color);
  --selection-text-color: var(--focus-text-color);
  --scrollbar-track-color: var(--medium-bg-color), 0.15;
  --scrollbar-thumb-color: var(--dark-bg-color), 0.3;

  --button-bg-color: var(--light-bg-color);
  --button-text-color: var(--light-text-color);
  --button-hover-bg-color: var(--medium-bg-color);
  --button-hover-text-color: var(--medium-text-color);
  --button-border-color: var(--global-border-color);
  --button-border-width: var(--global-border-width);

  --header-bg-color: var(--global-bg-color);
  --header-text-color: var(--global-text-color);
  --header-link-color: var(--link-color);
  --header-border-color: var(--global-border-color);
  --header-border-width: var(--global-border-width);

  --topbar-bg-color: 0, 0, 0, 0;
  --topbar-text-color: var(--header-link-color);
  --topbar-hover-bg-color: var(--light-bg-color);
  --topbar-hover-text-color: var(--topbar-text-color);

  --topbar-drop-bg-color: var(--header-bg-color);
  --topbar-drop-text-color: var(--topbar-text-color);
  --topbar-drop-hover-bg-color: var(--topbar-hover-bg-color);
  --topbar-drop-hover-text-color: var(--topbar-hover-text-color);
  --topbar-drop-border-color: var(--global-border-color);
  --topbar-drop-border-width: var(--global-border-width);

  --account-button-bg-color: var(--global-bg-color);
  --account-button-text-color: var(--global-text-color);
  --account-button-hover-bg-color: var(--light-bg-color);
  --account-button-hover-text-color: var(--light-text-color);
  --account-button-border-color: var(--global-border-color);
  --account-button-border-width: var(--global-border-width);

  --account-drop-bg-color: var(--global-bg-color);
  --account-drop-text-color: var(--link-color);
  --account-drop-hover-bg-color: var(--light-bg-color);
  --account-drop-hover-text-color: var(--account-drop-text-color);
  --account-drop-border-color: var(--global-border-color);
  --account-drop-border-width: var(--global-border-width);

  --search-bg-color: var(--button-bg-color);
  --search-text-color: var(--button-text-color);
  --search-hover-bg-color: var(--button-hover-bg-color);
  --search-hover-text-color: var(--button-hover-text-color);
  --search-border-color: var(--button-border-color);
  --search-border-width: var(--button-border-width);

  --handle-bg-color: var(--dark-bg-color);
  --handle-text-color: var(--dark-text-color);

  --sidebar-bg-color: var(--global-bg-color);
  --sidebar-media-color: var(--global-text-color);
  --sidebar-border-color: var(--global-border-color);
  --sidebar-border-width: var(--global-border-width);

  --heading-bg-color: 0, 0, 0, 0;
  --heading-text-color: var(--global-text-color);
  --heading-border-color: var(--global-border-color);
  --heading-border-width: var(--global-border-width);

  --menu-bg-color: 0, 0, 0, 0;
  --menu-text-color: var(--link-color);
  --menu-hover-bg-color: var(--light-bg-color);
  --menu-hover-text-color: var(--menu-text-color);
  --menu-border-color: var(--global-border-color);
  --menu-border-width: var(--global-border-width);

  --title-text-color: var(--body-text-color);
  --title-border-color: var(--global-border-color);
  --title-border-width: var(--global-border-width);

  --tags-bg-color: 0, 0, 0, 0;
  --tags-text-color: var(--link-color);
  --tags-hover-bg-color: var(--focus-bg-color);
  --tags-hover-text-color: var(--focus-text-color);
  --tags-border-color: var(--global-border-color);
  --tags-border-width: var(--global-border-width);

  --footer-bg-color: var(--global-bg-color);
  --footer-text-color: var(--global-text-color);
  --footer-link-color: var(--link-color);
  --footer-border-color: var(--global-border-color);
  --footer-border-width: var(--global-border-width);

  --hr-color: var(--global-border-color);
  --hr-height: var(--global-border-width);

  --blockquote-bg-color: var(--light-bg-color);
  --blockquote-text-color: var(--light-text-color);
  --blockquote-border-color: var(--global-border-color);
  --blockquote-border-width: var(--global-border-width);

  --code-bg-color: var(--light-bg-color);
  --code-text-color: var(--light-text-color);
  --code-border-color: var(--global-border-color);
  --code-border-width: var(--global-border-width);

  --note-bg-color: var(--global-bg-color);
  --note-text-color: var(--global-text-color);
  --note-border-color: var(--global-border-color);
  --note-border-width: var(--global-border-width);

  --th-bg-color: var(--light-bg-color);
  --th-text-color: var(--light-text-color);
  --td-bg-color: var(--global-bg-color);
  --td-text-color: var(--global-text-color);
  --table-border-color: var(--global-border-color);
  --table-border-width: var(--global-border-width);

  --toc-bg-color: var(--light-bg-color);
  --toc-text-color: var(--light-text-color);
  --toc-border-color: var(--global-border-color);
  --toc-border-width: var(--global-border-width);

  --tab-bg-color: var(--light-bg-color);
  --tab-text-color: var(--light-text-color);
  --tab-hover-bg-color: var(--medium-bg-color);
  --tab-hover-text-color: var(--medium-text-color);
  --tab-selected-bg-color: var(--dark-bg-color);
  --tab-selected-text-color: var(--dark-text-color);
  --tab-content-bg-color: var(--global-bg-color);
  --tab-content-text-color: var(--global-text-color);
  --tab-border-color: var(--global-border-color);
  --tab-border-width: var(--global-border-width);

  --image-caption-bg-color: var(--light-bg-color);
  --image-caption-text-color: var(--light-text-color);
  --image-border-color: var(--global-border-color);
  --image-border-width: var(--global-border-width);

  --rate-bg-color: var(--light-bg-color);
  --rate-text-color: var(--light-text-color);
  --rateup-bg-color: var(--accept-color);
  --rateup-text-color: var(--accept-text-color);
  --ratedown-bg-color: var(--warning-color);
  --ratedown-text-color: var(--warning-text-color);
  --cancel-bg-color: var(--medium-bg-color);
  --cancel-text-color: var(--medium-text-color);
  --info-bg-color: var(--focus-bg-color);
  --info-text-color: var(--focus-text-color);
  --rate-border-color: var(--global-border-color);
  --rate-border-width: var(--global-border-width);

  --popup-bg-color: var(--global-bg-color);
  --popup-text-color: var(--global-text-color);
  --popup-title-bg-color: var(--light-bg-color);
  --popup-title-text-color: var(--light-text-color);
  --popup-close-bg-color: 0, 0, 0, 0;
  --popup-close-text-color: var(--link-color);
  --popup-close-hover-bg-color: var(--warning-color);
  --popup-close-hover-text-color: var(--warning-text-color);
  --popup-loading-color: var(--popup-border-color);
  --popup-border-color: var(--global-border-color);
  --popup-border-width: var(--global-border-width);

  --hovertip-bg-color: var(--popup-bg-color);
  --hovertip-text-color: var(--popup-text-color);
  --hovertip-border-color: var(--popup-border-color);
  --hovertip-border-width: var(--popup-border-width);

  --action-subtext-color: var(--text-color);
  --action-info-bg-color: var(--light-bg-color);
  --action-info-text-color: var(--light-text-color);
  --action-info-border-color: var(--global-border-color);
  --action-info-border-width: var(--global-border-width);

  --source-bg-color: var(--global-bg-color);
  --source-text-color: var(--global-text-color);
  --source-border-color: var(--global-border-color);
  --source-border-width: var(--global-border-width);

  --gray-monochrome: var(--base-dark);
  --black-monochrome: var(--base-black);
  --bright-accent: var(--base-accent-light);
  --swatch-secondary-color: var(--light-bg-color);
  --swatch-tertiary-color: var(--medium-bg-color);
  --swatch-text-secondary-color: var(--dark-text-color);
}

/* -------- 2. Global -------- */
@keyframes base-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes base-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--scrollbar-thumb-color)) rgb(var(--scrollbar-track-color));
}
body {
  background: rgb(var(--body-bg-color));
  color: rgb(var(--body-text-color));
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: rgb(var(--scrollbar-track-color));
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--scrollbar-thumb-color));
}
::selection {
  background: rgb(var(--selection-bg-color));
  color: rgb(var(--selection-text-color));
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  font-family: var(--title-font);
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.67em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.33em;
}
h5 {
  font-size: 1.17em;
}
h6 {
  font-size: 1em;
}
ol, ul {
  padding-inline-start: 2rem;
}
dt {
  font-weight: 700;
}
dd {
  margin-inline-start: 1rem;
}
b, strong {
  font-weight: bolder;
}
sub, sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: rgb(var(--link-color));
  transition: color var(--global-duration) var(--global-function), text-decoration-color var(--global-duration) var(--global-function);
  text-decoration-color: transparent;
  text-decoration-thickness: 0.09375em;
}
a:visited {
  color: rgb(var(--link-visited-color));
}
a:is(:hover, :active, :focus) {
  color: rgb(var(--link-hover-color));
  background: transparent;
  text-decoration-color: currentColor;
}
a.newpage {
  color: rgb(var(--link-newpage-color));
}
tt, pre, code, .code, .page-source {
  font-family: var(--mono-font);
  font-size: 1em;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
embed, iframe, img, object, table, video {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select, textarea, ::file-selector-button {
  appearance: none;
  border-radius: 0;
  margin: 0;
  text-transform: none;
  font: inherit;
  font-family: var(--ui-font);
}
:not(.page-rate-widget-box) > :is(.btn, .button, .buttons input),
:is(#wd-editor-toolbar-panel, #np-editor-panel, .change-textarea-size, .optionstd, .nav, .join-box) a,
#new-post-button,
::file-selector-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: var(--ui-font);
  flex-grow: 1;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0;
  margin: 0;
  padding: 0.375em 0.75em;
  background: rgb(var(--button-bg-color));
  color: rgb(var(--button-text-color));
  border: none;
  border-bottom: var(--button-border-width) solid rgb(var(--button-border-color));
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function);
}
:not(.page-rate-widget-box) > :is(.btn, .button, .buttons input):is(:hover, :active, :focus),
:is(#wd-editor-toolbar-panel, #np-editor-panel, .change-textarea-size, .optionstd, .nav, .join-box) a:is(:hover, :active, :focus),
#new-post-button:is(:hover, :active, :focus),
::file-selector-button:is(:hover, :active, :focus) {
  background: rgb(var(--button-hover-bg-color));
  color: rgb(var(--button-hover-text-color));
}
.btn-danger, .btn-warning, #view-diff-div .button {
  --button-hover-bg-color: var(--warning-color);
  --button-hover-text-color: var(--warning-text-color);
}
.btn-primary, .btn-info {
  --button-hover-bg-color: var(--accept-color);
  --button-hover-text-color: var(--accept-text-color);
}
input.text, textarea {
  width: 100% !important;
}
input.text, textarea, select {
  background: rgb(var(--global-bg-color));
  color: rgb(var(--global-text-color));
  border: var(--global-border-width) solid rgb(var(--global-border-color));
  margin: 0;
  padding: 0 0.25em;
  outline: none;
  box-shadow: 0 0 0 0 rgb(var(--focus-bg-color));
  transition: box-shadow var(--global-duration) var(--global-function), border-color var(--global-duration) var(--global-function);
}
:is(input.text, textarea, select):focus-visible {
  box-shadow: 0 0 0 0.125em rgb(var(--focus-bg-color));
  border-color: rgb(var(--focus-bg-color));
}
input.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background: rgb(var(--global-bg-color));
  color: transparent;
  border: var(--global-border-width) solid rgb(var(--global-border-color));
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function), border-color var(--global-duration) var(--global-function);
}
input.checkbox:checked {
  background: rgb(var(--focus-bg-color));
  color: rgb(var(--focus-text-color));
  border-color: rgb(var(--focus-bg-color));
}
input.checkbox::before {
  content: "\F26E";
  font: normal normal normal 1em/1 bootstrap-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type=radio] {
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--global-border-width) rgb(var(--global-border-color));
  transition: box-shadow var(--global-duration) var(--global-function);
}
input[type=radio]:checked {
  box-shadow: inset 0 0 0 0.125rem rgb(var(--focus-bg-color));
}
input[type=file] {
  cursor: pointer;
}
textarea {
  resize: vertical;
}
select {
  appearance: auto;
}
::file-selector-button {
  margin: 0 0.25em 0 -0.25em;
  border-width: 0 var(--button-border-width) 0 0;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* -------- 3. Header -------- */
#header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "title" "topbar";
  grid-template-rows: var(--header-height) var(--topbar-height);
  background: rgb(var(--header-bg-color));
  color: rgb(var(--header-text-color));
  font-family: var(--ui-font);
  box-shadow: 0 var(--header-border-width) rgb(var(--header-border-color));
  position: sticky;
  top: calc(var(--header-height) * -1);
  z-index: 8;
}
#header h1 {
  grid-area: title;
  position: relative;
  z-index: 1;
}
#header h1 a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem var(--header-margin) 0;
  font-family: var(--header-font);
  line-height: 1;
  color: rgb(var(--header-text-color));
  text-decoration: none;
}
#header h1 a::before {
  content: var(--header-title);
  font-size: var(--header-title-font-size);
  display: block;
  font-weight: 900;
}
#header h1 a::after {
  content: var(--header-subtitle);
  font-size: var(--header-subtitle-font-size);
  display: block;
  font-weight: 700;
}
#header h1 span, #header h2 {
  display: none;
}
#top-bar {
  grid-area: topbar;
  position: relative;
  z-index: 2;
  right: 0;
  background: rgb(var(--topbar-bg-color));
  padding: 0 var(--topbar-margin);
  display: flex;
}
#top-bar > div, #top-bar > div > ul {
  display: contents;
}
#top-bar > div > ul > li {
  flex: 1;
  display: block;
  height: 100%;
  margin: 0;
  position: relative;
}
#top-bar > div > ul > li > a {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--topbar-text-color));
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
#top-bar > div > ul > li:is(:hover, :focus, :focus-within, .sfhover) > a {
  text-decoration: none;
  background: rgb(var(--topbar-hover-bg-color));
  color: rgb(var(--topbar-hover-text-color));
}
#top-bar > div > ul > li > ul {
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background: rgb(var(--topbar-drop-bg-color));
  border: var(--topbar-drop-border-width) solid rgb(var(--topbar-drop-border-color));
  width: 100%;
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--ui-duration) var(--global-function);
}
#top-bar > div > ul > li:is(:hover, :focus, :focus-within, .sfhover) > ul {
  opacity: 1;
  pointer-events: auto;
}
#top-bar > div > ul > li > ul > li {
  width: 100%;
  height: var(--topbar-drop-height);
}
#top-bar > div > ul > li > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  white-space: nowrap;
  background: transparent;
  color: rgb(var(--topbar-drop-text-color));
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
#top-bar > div > ul > li > ul > li:is(:hover, :focus, :focus-within, .sfhover) > a {
  text-decoration: none;
  background: rgb(var(--topbar-drop-hover-bg-color));
  color: rgb(var(--topbar-drop-hover-text-color));
}
#top-bar .mobile-top-bar {
  display: none;
}
#top-bar .open-menu,
#top-bar .open-menu p {
  display: contents;
}
#top-bar .open-menu a {
  width: var(--topbar-height);
  height: 100%;
  font-size: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
#top-bar .open-menu a:is(:hover, :active, :focus) {
  background: rgb(var(--topbar-hover-bg-color));
  color: rgb(var(--topbar-hover-text-color));
}
#top-bar .open-menu a::before {
  content: "\F479";
  font: normal normal normal 1.75rem/1 bootstrap-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#login-status {
  z-index: 4;
  right: var(--header-margin);
  top: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
#login-status > a {
  color: rgb(var(--header-link-color));
}
#login-status > a > strong {
  text-decoration: none;
  animation: none;
}
a#account-topbutton {
  padding: 0 0.375rem;
  margin-left: 0.375rem;
  background: rgb(var(--account-button-bg-color));
  color: rgb(var(--account-button-text-color));
  border: var(--account-button-border-width) solid rgb(var(--account-button-border-color));
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
a#account-topbutton:is(:hover, :active, :focus) {
  background: rgb(var(--account-button-hover-bg-color));
  color: rgb(var(--account-button-hover-text-color));
}
#account-options {
  display: block !important;
  background: rgb(var(--account-drop-bg-color));
  border: var(--account-drop-border-width) solid rgb(var(--account-drop-border-color));
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--ui-duration) var(--global-function);
}
#account-options:focus-within,
#account-topbutton:is(:active, :focus) + #account-options {
  opacity: 1;
  pointer-events: all;
}
@media (pointer: coarse) {
  #account-options:hover,
  #account-topbutton:hover + #account-options {
    opacity: 1;
    pointer-events: all;
  }
}
#account-options > ul {
  display: flex;
  flex-direction: column;
}
#account-options > ul > li {
  display: contents;
}
#account-options > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2em 0.4em;
  text-decoration: none;
  color: rgb(var(--account-drop-text-color));
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
#account-options > ul > li > a:is(:hover, :active, :focus) {
  background: rgb(var(--account-drop-hover-bg-color));
  color: rgb(var(--account-drop-hover-text-color));
}
#search-top-box {
  z-index: 3;
  right: var(--header-margin);
  top: 4rem;
  font-size: 0.85rem;
  font-weight: 500;
}
#search-top-box-input {
  display: none;
}
#search-top-box-form .button {
  padding: 0.2em 0.4em;
  background: rgb(var(--search-bg-color));
  color: rgb(var(--search-text-color));
  border: var(--search-border-width) solid rgb(var(--search-border-color));
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
#search-top-box-form .button:is(:hover, :active, :focus) {
  background: rgb(var(--search-hover-bg-color));
  color: rgb(var(--search-hover-text-color));
}

/* -------- 4. Sidebar -------- */
#side-bar {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-width) * -1);
  z-index: 9;
  width: var(--sidebar-width);
  max-width: calc(100% - 2.75rem);
  height: 100vh;
  direction: rtl;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(var(--sidebar-bg-color));
  border-right: var(--sidebar-border-width) solid rgb(var(--sidebar-border-color));
  font-family: var(--ui-font);
  transition: left var(--ui-duration) var(--global-function);
}
#side-bar:is(:hover, :focus-within) {
  left: 0;
}
#side-bar::before {
  content: "";
  position: fixed;
  width: 1rem;
  height: 100vh;
  top: 0;
  left: 0;
}
#main-content::before {
  content: "◀";
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 1rem;
  height: 14rem;
  top: calc(50vh - 7rem);
  left: 0;
  font-size: 0.75rem;
  background: rgb(var(--handle-bg-color));
  color: rgb(var(--handle-text-color));
  border-radius: 0 0.75rem 0.75rem 0;
  transition: left var(--ui-duration) var(--global-function), opacity var(--ui-duration) var(--global-function);
}
#side-bar:is(:hover, :focus-within) + #main-content::before {
  left: calc(var(--sidebar-width) * -1);
  opacity: 0;
}
#side-bar p {
  display: contents;
}
#side-bar .side-block {
  margin: 0.5rem 0;
  direction: ltr;
}
#side-bar .side-block.media {
  margin-top: 0;
  padding: 0.5rem 0 !important;
  border-bottom: var(--sidebar-border-width) solid rgb(var(--sidebar-border-color));
}
#side-bar .side-block.media div {
  display: flex;
  justify-content: space-evenly;
}
#side-bar .side-block.media img {
  width: 3.125rem;
}
#side-bar .heading,
#side-bar .collapsible-block-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 0.75em;
  background: rgb(var(--heading-bg-color));
  color: rgb(var(--heading-text-color));
  text-decoration: none;
  border-bottom: var(--heading-border-width) solid rgb(var(--heading-border-color));
}
#side-bar .collapsible-block-unfolded-link,
#side-bar .collapsible-block-folded {
  margin: 0;
}
#side-bar .collapsible-block-folded a::after {
  content: "◀";
}
#side-bar .collapsible-block-unfolded-link a::after {
  content: "▼";
}
#side-bar .menu-item {
  font-size: 0;
  display: flex;
  border-bottom: var(--menu-border-width) solid rgb(var(--menu-border-color));
}
#side-bar .menu-item a {
  display: block;
  flex-grow: 1;
  font-size: var(--body-font-size);
  padding: 0.15em 0.75em;
  text-decoration: none;
  background: rgb(var(--menu-bg-color));
  color: rgb(var(--menu-text-color));
  transition: background var(--ui-duration) var(--global-function), color var(--ui-duration) var(--global-function);
}
#side-bar .menu-item a:is(:hover, :active, :focus) {
  background: rgb(var(--menu-hover-bg-color));
  color: rgb(var(--menu-hover-text-color));
}
#side-bar .close-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  background: rgb(var(--global-fader-color));
  opacity: 0;
  pointer-events: none;
  transition: width var(--ui-duration) var(--global-function), opacity var(--ui-duration) var(--global-function);
}
#side-bar .close-menu img {
  display: none;
}

/* -------- 5. Main -------- */
#main-content {
  width: var(--content-width);
  max-width: calc(100vw - 2rem);
  margin: 1.5rem auto;
  padding: 0;
  overflow-wrap: break-word;
}
:where(#main-content) [id] {
  scroll-margin-top: var(--topbar-height);
}
#page-title, .meta-title {
  color: rgb(var(--title-text-color));
  margin: 0;
  padding: 0 0 0.1em;
  font-family: var(--title-font);
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
  border-bottom: var(--title-border-width) solid rgb(var(--title-border-color));
  padding-bottom: 0.25rem;
}
.meta-title {
  margin: 1rem 0;
}
.meta-title p {
  display: contents;
}
#breadcrumbs {
  margin: 0;
  padding: 0.25rem 0;
  font-size: 0.85rem;
}
#page-content {
  margin: 1rem 0;
  min-height: calc(100vh - var(--header-height) - var(--topbar-height));
}
.page-tags {
  margin: 0;
  padding: 0;
}
.page-tags span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  padding-top: 0.25rem;
  border-top: var(--tags-border-width) solid rgb(var(--tags-border-color));
  font-size: 0.85rem;
}
.page-tags span::before {
  content: "标签：";
}
.page-tags a, .tags {
  background: rgb(var(--tags-bg-color));
  color: rgb(var(--tags-text-color));
  margin: 0;
  padding: 0.15em 0.5em;
  border-radius: 0 0.5em;
  text-decoration: none;
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function);
}
:is(.page-tags a, .tags):is(:hover, :active, :focus, :focus-within) {
  background: rgb(var(--tags-hover-bg-color));
  color: rgb(var(--tags-hover-text-color));
}
.page-tags a[href^="/system:page-tags/tag/_"] {
  display: none;
}
#page-info {
  margin: 0;
  font-size: 0.85rem;
}
.page-watch-options {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}
.page-watch-options a {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.09375em;
}
#page-options-container .page-options-bottom {
  margin: 0;
  gap: 0;
}

/* -------- 6. Footer -------- */
#footer {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2em;
  margin: 0;
  padding: 0.25rem 0;
  background: rgb(var(--footer-bg-color));
  color: rgb(var(--footer-text-color));
  border-top: var(--footer-border-width) solid rgb(var(--footer-border-color));
  font-family: var(--ui-font);
}
#footer .options {
  font-size: 1em;
  padding: 0;
}
#footer .options::after {
  content: "|";
}
#license-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 0.25rem;
  background: rgb(var(--footer-bg-color));
  color: rgb(var(--footer-text-color));
  font-family: var(--ui-font);
}
#footer a, #license-area a {
  color: rgb(var(--footer-link-color));
}

/* -------- 7. Content -------- */
.printuser {
  display: inline-flex;
  align-items: baseline;
  gap: 0.25em;
  margin: 0 0.125em;
}
.printuser a {
  margin-right: 0;
}
.printuser > :first-child {
  align-self: center;
}
.printuser img.small {
  height: 1em;
  width: 1.45em;
  padding: 0;
  padding-left: 0.45em;
  object-fit: contain;
  background-size: cover;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.printuser.deleted img.small {
  width: 1em;
  padding: 0;
}
.collapsible-block-unfolded-link,
.collapsible-block-folded,
[class|=colmod-link] {
  margin: 1em 0;
}
hr {
  margin: 1rem 0;
  height: 0;
  border-top: var(--hr-height) solid rgb(var(--hr-color));
  background: transparent;
}
blockquote, .blockquote {
  display: flow-root;
  border: var(--blockquote-border-width) solid rgb(var(--blockquote-border-color));
  margin: 1rem 2rem;
  padding: 0 1rem;
  background: rgb(var(--blockquote-bg-color));
  color: rgb(var(--blockquote-text-color));
}
.code {
  display: flow-root;
  border: var(--code-border-width) dashed rgb(var(--code-border-color));
  margin: 1rem 0;
  padding: 0 1rem;
  background: rgb(var(--code-bg-color));
  color: rgb(var(--code-text-color));
}
div.wiki-note {
  display: flow-root;
  border: var(--note-border-width) solid rgb(var(--note-border-color));
  width: 70%;
  margin: 1rem auto;
  padding: 0 1rem;
  background: rgb(var(--note-bg-color));
  color: rgb(var(--note-text-color));
  text-align: left;
}
table.wiki-content-table {
  margin: 1rem auto;
}
table.wiki-content-table :is(th, td) {
  padding: 0.5em 0.75em;
  border: var(--table-border-width) solid rgb(var(--table-border-color));
}
table.wiki-content-table th {
  background: rgb(var(--th-bg-color));
  color: rgb(var(--th-text-color));
}
table.wiki-content-table td {
  background: rgb(var(--td-bg-color));
  color: rgb(var(--td-text-color));
}
table[style^="margin:0;"],
table[style^="margin:0;"] :is(tbody, tr, td) {
  display: contents;
}
#toc {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 1rem 0;
  padding: 0.75rem 0;
  clear: both;
  border: var(--toc-border-width) dashed rgb(var(--toc-border-color));
  background: rgb(var(--toc-bg-color));
  color: rgb(var(--toc-text-color));
}
#toc.floatright {
  margin: 1rem 0 1rem 2rem;
}
#toc.floatleft {
  margin: 1rem 2rem 1rem 0;
}
#toc .title {
  flex-grow: 1;
  order: -1;
  text-align: left;
  margin: 0;
  padding: 0 1rem;
}
#toc #toc-action-bar {
  text-align: right;
  padding: 0 1rem;
}
#toc-list {
  width: 100%;
  margin: 0;
  font-size: 1rem;
}
#toc-list a {
  font-size: var(--body-font-size);
}
.yui-navset {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.yui-navset .yui-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.yui-navset .yui-nav li {
  display: contents;
}
.yui-navset .yui-nav :is(li, li.selected) a {
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375em 0.75em;
  background: rgb(var(--tab-bg-color));
  color: rgb(var(--tab-text-color));
  border: none;
  border-bottom: var(--tab-border-width) solid rgb(var(--tab-border-color));
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function);
}
.yui-navset .yui-nav li a:is(:hover, :active, :focus, :focus-within) {
  background: rgb(var(--tab-hover-bg-color));
  color: rgb(var(--tab-hover-text-color));
}
.yui-navset .yui-nav li.selected :is(a, a:hover, a:focus) {
  background: rgb(var(--tab-selected-bg-color));
  color: rgb(var(--tab-selected-text-color));
}
.yui-navset .yui-nav :is(li, li.selected) a em {
  position: static;
  border: none;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.yui-navset .yui-content {
  width: 100%;
  background: rgb(var(--tab-content-bg-color));
  color: rgb(var(--tab-content-text-color));
  border: var(--tab-border-width) solid rgb(var(--tab-border-color));
  border-top: none;
  padding: 0 1rem;
}
ul.creditRate {
  display: block;
  margin: 0;
}
ul.creditRate > li {
  line-height: inherit;
}
div.rate-box-with-credit-button,
div.page-rate-widget-box,
div.creditButtonStandalone {
  display: inline-flex;
  align-items: center;
  background: rgb(var(--rate-bg-color));
  color: rgb(var(--rate-text-color));
  border: none;
  border-bottom: var(--rate-border-width) solid rgb(var(--rate-border-color));
  margin: 0.25rem 0;
  border-radius: 0;
  box-shadow: none;
}
div.rate-box-with-credit-button .page-rate-widget-box,
div.creditButton p,
div.creditButtonStandalone p {
  display: contents;
}
div.page-rate-widget-box .rate-points {
  background: transparent;
  color: inherit;
  padding: 0 0.5rem;
  font-weight: 500;
  line-height: 1;
}
div.page-rate-widget-box .btn,
div.rate-box-with-credit-button .creditButton,
div.creditButtonStandalone {
  width: var(--rate-height);
  height: var(--rate-height);
}
div.page-rate-widget-box a,
div.creditButton p a,
div.creditButtonStandalone p a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  color: rgb(var(--rate-text-color));
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 0;
  text-decoration: none;
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function);
}
:is(div.page-rate-widget-box a,
div.creditButton p a,
div.creditButtonStandalone p a):is(:hover, :active, :focus) {
  background: rgb(var(--rate-hover-bg-color));
  color: rgb(var(--rate-hover-text-color));
}
div.page-rate-widget-box a::before,
div.creditButton p a::before,
div.creditButtonStandalone p a::before {
  content: var(--rate-icon);
  font: normal normal normal 1.2rem/1 bootstrap-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rateup {
  --rate-icon: "\F4FE";
  --rate-hover-bg-color: var(--rateup-bg-color);
  --rate-hover-text-color: var(--rateup-text-color);
}
.ratedown {
  --rate-icon: "\F2EA";
  --rate-hover-bg-color: var(--ratedown-bg-color);
  --rate-hover-text-color: var(--ratedown-text-color);
}
.cancel {
  --rate-icon: "\F62A";
  --rate-hover-bg-color: var(--cancel-bg-color);
  --rate-hover-text-color: var(--cancel-text-color);
}
.creditButtonStandalone, .creditButton {
  --rate-icon: "\F434";
  --rate-hover-bg-color: var(--info-bg-color);
  --rate-hover-text-color: var(--info-text-color);
}
.scp-image-block {
  display: flex;
  flex-direction: column;
  border: var(--image-border-width) rgb(var(--image-border-color)) solid;
  max-width: 100%;
  margin: 1rem auto;
  clear: both;
}
.scp-image-caption {
  background: rgb(var(--image-caption-bg-color));
  color: rgb(var(--image-caption-text-color));
  padding: 0.25em 0.5em;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
}
.scp-image-caption p {
  margin: 0;
}
.scp-image-block.block-right {
  float: right;
  margin-left: 2rem;
}
.scp-image-block.block-left {
  float: left;
  margin-right: 2rem;
}
.footer-wikiwalk-nav, .licensebox a.collapsible-block-link {
  font-weight: 700;
  font-size: 0.85em;
}
.footer-wikiwalk-nav {
  text-align: center;
}
.licensebox :is(blockquote, .blockquote) {
  margin-left: 0;
  margin-right: 0;
}
.bblock {
  background: rgb(var(--global-text-color));
  color: rgb(var(--global-text-color));
  transition: color var(--global-duration) var(--global-function);
}
.bblock:is(:hover, :focus-within) {
  background: rgb(var(--global-text-color));
  color: rgb(var(--global-bg-color));
}
.dblock {
  background: currentColor;
  transition: background var(--global-duration) var(--global-function);
}
.dblock:is(:hover, :focus-within) {
  background: transparent;
}
.keycap {
  background: rgb(var(--light-bg-color));
  color: rgb(var(--light-text-color));
  padding: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0 0.125em 0 0.05em rgb(var(--global-border-color));
}
.rt, rt {
  display: table-header-group;
  font-size: 0.6em;
  line-height: 1.15;
}
.ruby, ruby {
  display: inline-table;
  line-height: 1;
  vertical-align: text-bottom;
}
.rt, .ruby, rt, ruby {
  text-align: center;
  white-space: nowrap;
}
.unmargined > p {
  margin: 0;
  line-height: 1;
}

/* -------- 8. Popups -------- */
.odialog-shader, .odialog-shader-iframe {
  display: none;
}
#odialog-container, .owindow.osuccess, .hovertip {
  animation: base-fade-in var(--global-duration) var(--global-function);
}
#odialog-container:not([style*=none]) {
  display: flex !important;
}
#odialog-container,
div.fader,
div.modalcontainer,
.owindow .button-bar a:is([onclick*=cleanAll], .button-close-message)::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#odialog-container, div.fader {
  background: rgb(var(--global-fader-color));
}
.owindow .button-bar a:is([onclick*=cleanAll], .button-close-message)::after {
  content: "";
  z-index: -1;
}
:not(.unfolded) > div#u-credit-view {
  visibility: visible;
}
div#u-credit-view {
  transition: opacity var(--global-duration) var(--global-function);
}
div.modalcontainer {
  pointer-events: none;
  max-width: none;
}
.owindow, div.modalbox {
  background: rgb(var(--popup-bg-color));
  color: rgb(var(--popup-text-color));
  border: var(--popup-border-width) solid rgb(var(--popup-border-color));
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  flex-basis: 80%;
  max-width: 45rem;
  max-height: none;
  position: relative;
}
.unfolded > #u-credit-view div.modalbox {
  pointer-events: auto;
}
div.modalbox > div:first-child, .owindow .title {
  display: flex;
  align-items: center;
  height: var(--popup-title-height);
  padding: 0 1rem;
  background: rgb(var(--popup-title-bg-color));
  color: rgb(var(--popup-title-text-color));
  border-bottom: var(--popup-border-width) solid rgb(var(--popup-border-color));
}
div.modalbox > div:first-child h2, .owindow .title {
  margin: 0;
  font-size: 1.35rem;
  line-height: 1;
  cursor: auto;
}
div.close-credits {
  display: contents;
}
.owindow .button-bar a:is([onclick*=cleanAll], .button-close-message),
div.close-credits a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--popup-title-height);
  height: var(--popup-title-height);
  border: none;
  padding: 0;
  font-size: 0;
  text-decoration: none;
  background: rgb(var(--popup-close-bg-color));
  color: rgb(var(--popup-close-text-color));
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function);
}
.owindow .button-bar a:is([onclick*=cleanAll], .button-close-message):is(:hover, :active, :focus),
div.close-credits a:is(:hover, :active, :focus) {
  background: rgb(var(--popup-close-hover-bg-color));
  color: rgb(var(--popup-close-hover-text-color));
}
.owindow .button-bar a:is([onclick*=cleanAll], .button-close-message)::before,
div.close-credits a::before {
  content: "\F62A";
  font: normal normal normal 2.4rem/1 bootstrap-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.modalbox > hr {
  display: none;
}
div.modalbox .credit, .owindow .content {
  padding: 0 1rem;
  margin: 0;
  height: auto;
  max-height: 45vh;
  overflow-y: auto;
}
.owindow .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 0;
}
.owindow .content > img {
  align-self: center;
  width: 5rem;
  height: 5rem;
  padding: 0 !important;
  background: transparent !important;
}
.owindow .content > img + h1 {
  align-self: center;
  line-height: 1.5;
  font-size: 1em;
}
.owindow .content > img + h1 + table {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  border-top: var(--popup-border-width) solid rgb(var(--popup-border-color));
}
.owindow .content > img + h1 + table :is(tbody, tr) {
  display: contents;
}
.owindow .content > img + h1 + table td {
  padding: 0.375rem;
  border-bottom: var(--popup-border-width) solid rgb(var(--popup-border-color));
}
.owindow .content > img + h1 + table + div,
.owindow .button-bar {
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  display: flex;
  gap: 0.5rem;
}
.owindow .content > img + h1 + table + div {
  margin: 0.25rem 0 !important;
}
.owindow .content > img + h1 + table + div div {
  display: contents;
}
.owindow .content > img + h1 + table + div div a {
  order: 1;
}
.owindow .content > :is(h1, p) {
  margin: 0;
}
.owindow:is(.owait, .osuccess) .content {
  align-items: center;
  margin: 0;
  padding: 0.75rem 2rem;
  background: transparent;
}
.owindow.owait .content::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid rgb(var(--popup-loading-color));
  border-right-color: transparent;
  border-radius: 50%;
  animation: base-rotate 1s linear infinite;
}
div.creditBottomRate {
  height: auto;
  padding: 0.5rem 0;
  border-top: var(--popup-border-width) solid rgb(var(--popup-border-color));
}
.hovertip {
  background: rgb(var(--hovertip-bg-color)) !important;
  color: rgb(var(--hovertip-text-color));
  border: var(--hovertip-border-width) solid rgb(var(--hovertip-border-color)) !important;
}
.hovertip .content {
  padding: 0.5em;
}
.footnote .f-footer, .reference .r-footer {
  display: none;
}
#avatar-hover-container {
  display: none;
}

/* -------- 9. Action -------- */
#action-area,
#view-diff-div:not(:empty),
.preview-message,
#who-rated-page-area:not(:empty),
#history-subarea,
#file-action-area:not(:empty),
#st-action-area:not(:empty),
#edit-meta-newtag,
#rename-backlinks-box {
  animation: base-fade-in var(--global-duration) var(--global-function);
}
#action-area {
  position: relative;
  padding: 0;
  margin: 1rem 0;
}
#action-area .action-area-close, #view-diff-div .button {
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}
:is(#action-area .action-area-close, #view-diff-div .button)::before {
  content: "\F62A";
  font: normal normal normal 2.25rem/1 bootstrap-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.buttons, #edit-meta-newtag-form > div, .page-options-bottom {
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
table.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
table.form :is(tbody, tr) {
  display: contents;
}
table.form td {
  display: block;
  padding: 0;
}
table.form td:first-child {
  font-weight: 500;
}
:is(table.form td, form) div.sub {
  color: rgb(var(--action-subtext-color));
  font-size: 0.8em;
  text-align: right;
}
/* Edit */
#edit-page-form, #new-post-form, #edit-post-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
#edit-page-form .form {
  margin: 0 !important;
}
#edit-page-form .form td:first-child, #np-editor-title {
  display: none;
}
#wd-editor-toolbar-panel, #np-editor-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  order: 1;
}
:is(#wd-editor-toolbar-panel, #np-editor-panel) :is(div, ul, li) {
  display: contents;
}
:is(#wd-editor-toolbar-panel, #np-editor-panel) a {
  flex: none;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
  position: relative;
  font: normal normal normal 1.25rem/1 bootstrap-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:is(#wd-editor-toolbar-panel, #np-editor-panel) a::before {
  content: var(--icon);
}
.weditor-h1 {
  --icon: "\F5F1";
}
.weditor-h2 {
  --icon: "\F5F2";
}
.weditor-h3 {
  --icon: "\F5F3";
}
.weditor-h4 {
  --icon: "\F8DC";
}
.weditor-h5 {
  --icon: "\F8DD";
}
.weditor-h6 {
  --icon: "\F8DE";
}
.weditor-bold {
  --icon: "\F5F0";
}
.weditor-italic {
  --icon: "\F5F4";
}
.weditor-underline {
  --icon: "\F5F6";
}
.weditor-strikethrough {
  --icon: "\F5F5";
}
.weditor-teletype {
  --icon: "\F3DA";
}
.weditor-quote {
  --icon: "\F6B0";
}
.weditor-superscript {
  --icon: "\F849";
}
.weditor-subscript {
  --icon: "\F848";
}
.weditor-raw {
  --icon: "\F152";
}
.weditor-hr {
  --icon: "\F426";
}
.weditor-div {
  --icon: "\F1B5";
}
.weditor-clearfloat {
  --icon: "\F12B";
}
.weditor-clearfloatleft {
  --icon: "\F12F";
}
.weditor-clearfloatright {
  --icon: "\F138";
}
.weditor-table {
  --icon: "\F5AA";
}
.weditor-toc {
  --icon: "\F227";
}
.weditor-code, .weditor-codewiz {
  --icon: "\F2C7";
}
.weditor-uri, .weditor-uriwiz {
  --icon: "\F470";
}
.weditor-pagelink, .weditor-pagelinkwiz {
  --icon: "\F3D5";
}
.weditor-image, .weditor-imagewiz {
  --icon: "\F42A";
}
.weditor-html {
  --icon: "\F749";
}
.weditor-numlist {
  --icon: "\F475";
}
.weditor-bullist {
  --icon: "\F478";
}
.weditor-incindent, .weditor-decindent {
  --icon: "\F474";
}
.weditor-deflist {
  --icon: "\F477";
}
.weditor-footnote {
  --icon: "\F50C";
}
.weditor-math {
  --icon: "\F4FD";
}
.weditor-mathinline, .weditor-eqref {
  --icon: "\F6AA";
}
.weditor-bib {
  --icon: "\F194";
}
.weditor-bibcite {
  --icon: "\F1A2";
}
:is(.weditor-codewiz, .weditor-uriwiz, .weditor-pagelinkwiz, .weditor-imagewiz, .weditor-incindent, .weditor-decindent, .weditor-eqref)::before {
  opacity: 0.4;
}
:is(.weditor-codewiz, .weditor-uriwiz, .weditor-pagelinkwiz, .weditor-imagewiz, .weditor-eqref)::after {
  content: "\F675";
  position: absolute;
  font-size: 0.5em;
  bottom: 0.2em;
  right: 0.2em;
}
:is(.weditor-incindent, .weditor-decindent)::after {
  position: absolute;
  font-size: 0.75em;
  bottom: 0;
  left: 0;
}
.weditor-incindent::after {
  content: "\F4FE";
}
.weditor-decindent::after {
  content: "\F2EA";
}
:is(#wd-editor-toolbar-panel, #np-editor-panel) + div {
  width: 100%;
  order: 2;
}
.edit-help-34 {
  flex-grow: 1;
  margin: 0;
  order: 3;
}
.change-textarea-size {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  order: 4;
}
.change-textarea-size a {
  width: 2rem;
  height: 2rem;
}
.edit-page-bottomtable {
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  order: 5;
}
.edit-page-bottomtable :is(tbody, tr) {
  display: contents;
}
.edit-page-bottomtable td {
  padding: 0 !important;
  flex: 1 0 calc((var(--content-width) - 1rem) / 3);
}
#lock-info {
  background: rgb(var(--action-info-bg-color));
  color: rgb(var(--action-info-text-color));
  border: var(--action-info-border-width) solid rgb(var(--action-info-border-color));
  padding: 1rem;
  margin: 0;
}
#lock-timer {
  font-family: var(--mono-font);
}
.do-not-notify {
  display: none;
}
#edit-page-captcha, #edit-post-captcha {
  order: 6;
}
:is(#edit-page-form, #new-post-form) div.buttons {
  margin: 0;
  order: 7;
}
#view-diff-div {
  position: relative;
}
#view-diff-div p {
  display: contents;
}
.preview-message, #page-version-info {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background: rgb(var(--warning-color));
  color: rgb(var(--warning-text-color));
  border: none;
  opacity: 1;
  z-index: 10;
}
:is(.preview-message, #page-version-info) a {
  color: inherit;
  font-weight: 500;
}
.page-source {
  background: rgb(var(--source-bg-color));
  color: rgb(var(--source-text-color));
  border: var(--source-border-width) dashed rgb(var(--source-border-color));
  overflow-wrap: anywhere;
  padding: 1rem;
}
.inline-diff :is(del, ins) {
  white-space: normal;
  text-decoration: none;
}
.inline-diff del {
  background: rgb(var(--warning-color), 0.25);
}
.inline-diff ins {
  background: rgb(var(--accept-color), 0.25);
}
/* Pagerate */
#who-rated-page-area > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--content-width) / 4 - 1.5em), 1fr) 1.5em);
}
#who-rated-page-area .printuser {
  overflow: hidden;
}
#who-rated-page-area .printuser + span {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 700;
  color: inherit !important;
}
#who-rated-page-area br {
  display: none;
}
/* History */
#history-form-1 table.form tr:first-child td:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1em minmax(calc(var(--content-width) / 4 - 1em), 1fr));
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
#history-form-1 table.form tr:first-child td:last-child br {
  display: none;
}
#history-form-1 table.form tr:last-child {
  display: flex;
  gap: 0.5rem;
}
#revision-list .pager, .pager {
  margin: 0.5rem 0;
}
.pager {
  display: flex;
  justify-content: center;
}
.pager-no {
  display: none;
}
.pager .target {
  display: contents;
}
.pager :is(a, .current, .dots) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.375em 0.75em;
  font-weight: inherit;
  background: rgb(var(--tab-bg-color));
  color: rgb(var(--tab-text-color));
  border: none;
  border-bottom: var(--tab-border-width) solid rgb(var(--tab-border-color));
  transition: background var(--global-duration) var(--global-function), color var(--global-duration) var(--global-function);
}
.pager a:is(:hover, :active, :focus) {
  background: rgb(var(--tab-hover-bg-color));
  color: rgb(var(--tab-hover-text-color));
}
.pager .current {
  background: rgb(var(--tab-selected-bg-color));
  color: rgb(var(--tab-selected-text-color));
}
.page-history {
  display: grid;
  grid-template-columns: repeat(7, auto);
}
.page-history :is(tbody, tr) {
  display: contents;
}
.page-history tr:first-child {
  display: none;
}
.page-history .optionstd a {
  padding: 0 0.25em;
  font-size: 0.8em;
}
/* Site Tools */
.site-tools-box {
  padding-top: 2rem !important;
}
.page-options-bottom :is(ul, li) {
  display: contents;
}

/* -------- 10. Modules -------- */
.join-box {
  text-align: center;
}
.thread-container .post .signature {
  display: none;
}

/* -------- 11. Utilities -------- */
.block, .lightblock, .darkblock, .styled-quote, .dark-styled-quote {
  display: flow-root;
  margin: 1rem 0;
  padding: 0 1rem;
}
.bg-global {
  background: rgb(var(--global-bg-color));
  color: rgb(var(--global-text-color));
}
.bg-light, .lightblock, .styled-quote {
  background: rgb(var(--light-bg-color));
  color: rgb(var(--light-text-color));
}
.bg-medium {
  background: rgb(var(--medium-bg-color));
  color: rgb(var(--medium-text-color));
}
.bg-dark, .darkblock, .dark-styled-quote {
  background: rgb(var(--dark-bg-color));
  color: rgb(var(--dark-text-color));
}
.bg-focus {
  background: rgb(var(--focus-bg-color));
  color: rgb(var(--focus-text-color));
}
.bg-invert {
  background: rgb(var(--global-text-color));
  color: rgb(var(--global-bg-color));
}
.float-left {
  clear: both;
  float: left;
  margin-right: 2rem;
}
.float-right {
  clear: both;
  float: right;
  margin-left: 2rem;
}
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 0.25;
}
.opacity-2 {
  opacity: 0.5;
}
.opacity-3 {
  opacity: 0.75;
}
.shadow-1 {
  box-shadow: 0 0.125rem 0.25rem rgb(var(--global-shadow-color), 0.07);
}
.shadow-2 {
  box-shadow: 0 0.25rem 0.5rem rgb(var(--global-shadow-color), 0.11);
}
.shadow-3 {
  box-shadow: 0 0.5rem 1rem rgb(var(--global-shadow-color), 0.15);
}
.fixed {
  position: fixed;
  z-index: 10;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.border {
  border: var(--global-border-width) solid rgb(var(--global-border-color));
}
.border-top {
  border-top: var(--global-border-width) solid rgb(var(--global-border-color));
}
.border-right {
  border-right: var(--global-border-width) solid rgb(var(--global-border-color));
}
.border-bottom {
  border-bottom: var(--global-border-width) solid rgb(var(--global-border-color));
}
.border-left, .styled-quote, .dark-styled-quote {
  border-left: var(--global-border-width) solid rgb(var(--global-border-color));
}
.border-1 {
  border-width: 0.0625rem;
}
.border-2 {
  border-width: 0.125rem;
}
.border-3 {
  border-width: 0.25rem;
}
.border-4 {
  border-width: 0.375rem;
}
.border-5, .styled-quote, .dark-styled-quote {
  border-width: 0.5rem;
}
.border-light, .dark-styled-quote {
  border-color: rgb(var(--light-bg-color));
}
.border-medium {
  border-color: rgb(var(--medium-bg-color));
}
.border-dark, .styled-quote {
  border-color: rgb(var(--dark-bg-color));
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 2rem;
}
.m-auto {
  margin: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 2rem;
}
.mt-auto {
  margin-top: auto;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mr-5 {
  margin-right: 2rem;
}
.mr-auto {
  margin-right: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 2rem;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.ml-5 {
  margin-left: 2rem;
}
.ml-auto {
  margin-left: auto;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 2rem;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pt-5 {
  padding-top: 2rem;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pr-4 {
  padding-right: 1.5rem;
}
.pr-5 {
  padding-right: 2rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.pb-5 {
  padding-bottom: 2rem;
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.pl-4 {
  padding-left: 1.5rem;
}
.pl-5 {
  padding-left: 2rem;
}
.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}
.rounded-1 {
  border-radius: 0.25rem;
}
.rounded-2 {
  border-radius: 0.375rem;
}
.rounded-3 {
  border-radius: 0.5rem;
}
.rounded-4 {
  border-radius: 1rem;
}
.rounded-5 {
  border-radius: 2rem;
}
.italic {
  font-style: italic;
}
.select-none {
  user-select: none;
}
.pe-none {
  pointer-events: none;
}
.hidden {
  display: none;
}

/* -------- 12. Mobile -------- */
@media only screen and (max-width: 48rem) {
  :root {
    --header-height: var(--header-height-on-mobile);
    --topbar-height: var(--topbar-height-on-mobile);
    --header-width: var(--header-width-on-mobile);
    --sidebar-width: var(--sidebar-width-on-mobile);
  }
  #top-bar .top-bar {
    display: none;
  }
  #top-bar .mobile-top-bar {
    display: contents;
  }
  #top-bar > div > ul > li {
    position: static;
  }
  #top-bar > div > ul > li > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #top-bar > div > ul > li > ul > li {
    flex: 1 1 50%;
  }
  #side-bar:not(:target) {
    left: calc(var(--sidebar-width) * -1);
  }
  #side-bar:target {
    left: 0;
  }
  #side-bar:target .close-menu {
    width: calc(100% - min(var(--sidebar-width), calc(100vw - 2.75rem)));
    opacity: 1;
    pointer-events: auto;
  }
  #side-bar::before, #main-content::before {
    display: none;
  }
}
@media only screen and (max-width: 36rem) {
  .scp-image-block:is(.block-right, .block-left) {
    float: none;
    margin: 1rem auto;
  }
  blockquote, .blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  .owindow, div.modalbox {
    flex-basis: 90%;
  }
}
@media (prefers-reduced-motion) {
  *, ::before, ::after {
    animation: none !important;
    transition: none !important;
  }
}
