@font-face {
  font-family: 'Noto Sans Mono CJK TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fastly.jsdelivr.net/gh/notofonts/noto-cjk@main/Sans/Mono/NotoSansMonoCJKtc-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Mono CJK TC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fastly.jsdelivr.net/gh/notofonts/noto-cjk@main/Sans/Mono/NotoSansMonoCJKtc-Bold.otf) format('opentype');
}
